body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body #app {
  background: lightBlue;
  height: 100vh;
  overflow: auto;
  font-family: sans-serif;
}

body main {
  background: lightBlue;
  height: 400vh;
  padding-bottom: 108px;
  overflow: auto;
  font-family: sans-serif;
}
